#loading_con{
    width:100vw;
    height:100vh;
    background:#F4C042;
    text-align:center;
}

#loading_con img{
    max-width:100vw;
}

#holder{
    width:100vw;
    height:100vh;
    min-height:100%;
    max-height: 100%;
    background:#FFFFFF;
    position: relative;
}

#mini_days_con{
    width: 100%;
    position: absolute;
    overflow: auto;
    bottom: 5vh;
}

#inner_con{
    display: flex;
    width: fit-content;
    justify-self: center;
    align-items: center;
    margin: auto;
}