#day_in_week{
    min-width: 100px;
    height: 80px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 20px 0 #DDDDDD;
    border-radius: 10px;
}

#day_in_week:hover{
    opacity: 0.6;
}

#mini_max_temp{
    display: inline;
    float: left;
}

#mini_min_temp{
    display: inline;
    float: right;
}

