#base_con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 110vh;
    margin: 20vh 0;
}

#single_base_con{
    display: flex;
    margin: 5px;
    background-color: #222831;
    justify-content: space-between;
    border: 1px solid #DDDDDD;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0 #DDDDDD;
}

#single_base_con label{
    margin: 10px;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
    color: #DDDDDD;
}

#single_base_con input{
    border: 1px solid #DDDDDD;
    border-radius: 0 50px 50px 0;
    text-align: center;
}