.post_con{
    background-color: white;
    border-radius: 20px;
    margin: 20px 10%;
    box-shadow: 0px 0px 20px 0 #DDDDDD;
}

.info_con{
    position: relative;
}

.profile_picture{
    width: 50px;
    height: 50px;
    margin: 2%;
}

.user_name{
    display: inline;
    position: absolute;
    top:20%;
    margin: 0;
}

.user_id{
    display: inline;
    color: #b9b8b8;
    position: absolute;
    top:55%;
    margin: 0;
}

.post_title{
    text-align: center;
}

.post_text{
    padding: 1% 3% 3%;
}

.comments{
    display: none;
    width: 80%;
    max-width: 80%;
    margin: 10px 10%;
}

.comments p{
    word-break: break-all;
}

#inp_field{
    border: 1px solid black;
    width: 70%;
    padding: 5px;
    border-radius: 50px;
    margin: 5px 5px 5px 0;
}

#inp_submit{
    border: 1px solid black;
    width: 20%;
    padding: 5px;
    border-radius: 50px;
}

.opt_con{
    display: flex;
    align-items: center;
    justify-content: center space-around;
}

.footer_opt{
    display: inline;
    height: 40px;
}

.comment h5{
    display:inline;
    margin: 0 10px;
}

.retweet h5{
    display: inline;
    margin: 0 10px;
}

.like h5{
    display: inline;
    margin: 0 10px;
}

.comment{
    position: relative;
    height: fit-content;
    margin: 10px auto;
}

.retweet{
    position: relative;
    height: fit-content;
    margin: 10px auto;
}

.like{
    position: relative;
    height: fit-content;
    margin: 10px auto;
}

.post_date{
    color: #b9b8b8;
    display: inline;
    margin: 10px auto;
}